<%- layout('layouts/boilerplate') -%>
    <h1>Secret page</h1>
    <form  action="/logout" method="POST" novalidate>

        <button type="submit" class="btn btn-success">Logout</button>
    </form>
